 .hero {
    background-image: url('https://www.hcahealthcare.co.uk/-/media/maternity-campaign-hero.jpg');
    background-size: cover;
    background-position: center top;
    height: 80vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: Verdana, sans-serif; */
}
.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: #000000 3px 1px 3px ;
}
.hero h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: #000000 3px 1px 3px ;
    margin-top: -20px;
}

.hero button {
    padding: 10px 30px;
    font-weight: 0;
    font-size: 1.2rem;
    background-color: #d848b9;
    border: 2px solid #d848b9;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.hero a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.hero a:hover{
    color: #d848b9;
}
.hero button:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #d848b9;
    border: solid 2px #d848b9;
}
.info-section {
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: flex-start; */
    /* flex-wrap: nowrap;                */
}
.info-column {
    font-size: 1.2rem;
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba( 222, 72, 196, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px);
    border-radius: 8px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    width: 300px;
   } 
