/* background-color: #FFF0F9; Background color of the website*/
/* background-color: #FF75C4; Background color of the modal*/
/* color: #2E2E2E; font color*/
/* font-family: 'Source Sans 3', sans-serif; */
@import url(navbar.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF0F9;
  font-family: 'Source Sans 3', sans-serif;
}



